<%
    content ||= {}
    content[:file] ||= ''
%>

<a href="#" data-image-id="<%= content[:file]&.attachment&.id %>" class="file-uploader__image">
    <%= hidden_field_tag 'image_massive[]', content[:file]&.attachment&.id %>
    <%= image_tag main_app.url_for(content[:file]) %>
</a>