<div class="grid-item grid-item_article persent-size persent-size-x2">
  <div class="article"><img src="/static/images/content/products/article-1.jpg"/>
    <div class="title">Кирпич ручной работы Монс-Роял</div>
    <div class="description">
      <p>Ницше однажды сказал, что голос красоты звучит тихо и проникает только в самые чуткие уши. Вы слышали, как звучит керамический кирпич ручной формовки?</p>
      <p>Звук чистейшей красоты, чистейшей мастерской работы и натуральной укрепленной огнем глины. Это не описать словами, нужно только слушать.</p>
      <p>А смотреть на такой кирпич, можно практически, как на огонь – бесконечно. Он неподражаемо эффектно смотрится на фасадах и в интерьерах, тонко играя своими состаренными фактурами. Кажется, что каждый старинный кирпич хранит свою многовековую тайну.</p>
    </div>
  </div>
</div>