<div class="modal fade" id="addCollection" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal_add-collection">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="addProduct" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal_add-product">
    <div class="modal-content">
    </div>
  </div>
</div>