<div class="modal fade" id="addCollection" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal_add-collection">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Кирпич ручной формовки Романов</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/static/images/general/icons/close-modal.svg"></span></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionAddCollection">
          <div class="card card-top">
            <div class="items">
              <div class="icon"></div>
              <div class="format">Формат</div>
              <div class="size">Размер</div>
              <div class="price">Цена за шт.</div>
              <div class="count">Количество в шт.</div>
              <div class="count-m2">Количество в м2.</div>
              <div class="total">Сумма</div>
              <div class="delete"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading_1">
              <div class="items collapsed" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                <div class="icon"><img src="/static/images/general/icons/products/format/format-1.png"></div>
                <div class="format">
                  <div class="in-stock">В наличии</div>
                  <div class="name">EcoРигель</div>
                </div>
                <div class="size">
                  <div class="title">Размер:</div>210х100х65
                </div>
                <div class="price">
                  <div class="title">Цена за шт.:</div>66.2
                </div>
                <div class="count">
                  <div class="inputCount" id="inputCount"><a class="btn_minus">
                    <svg width="5" height="1" viewbox="0 0 5 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0H5V1H0V0Z" fill="#444444"></path>
                    </svg></a>
                    <input type="text" placeholder="0"/><a class="btn_plus">
                    <svg width="7" height="7" viewbox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 3H7V4H0V3Z" fill="#444444"></path>
                      <path d="M4 0V7H3V0L4 0Z" fill="#444444"></path>
                    </svg></a>
                  </div>
                </div>
                <div class="count-m2">
                  <div class="inputCount" id="inputCount"><a class="btn_minus">
                    <svg width="5" height="1" viewbox="0 0 5 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0H5V1H0V0Z" fill="#444444"></path>
                    </svg></a>
                    <input type="text" placeholder="0"/><a class="btn_plus">
                    <svg width="7" height="7" viewbox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 3H7V4H0V3Z" fill="#444444"></path>
                      <path d="M4 0V7H3V0L4 0Z" fill="#444444"></path>
                    </svg></a>
                  </div>
                </div>
                <div class="total">
                  <div class="title">Сумма:</div>234 878.34 ₽
                </div>
                <div class="arrow"><img src="/static/images/general/icons/products/arrow_black.svg"></div>
                <div class="delete"><a class="btn_delete">
                  <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.47465 7.47465C2.27938 7.27938 2.27939 6.9628 2.47465 6.76754L6.71729 2.5249C6.91255 2.32964 7.22913 2.32964 7.42439 2.5249V2.5249C7.61966 2.72016 7.61966 3.03674 7.42439 3.23201L3.18175 7.47465C2.98649 7.66991 2.66991 7.66991 2.47465 7.47465V7.47465Z" fill="#4F4F4F"></path>
                    <path d="M2.47457 2.52543C2.66983 2.33017 2.98642 2.33017 3.18168 2.52543L7.42432 6.76807C7.61958 6.96333 7.61958 7.27991 7.42432 7.47518V7.47518C7.22906 7.67044 6.91247 7.67044 6.71721 7.47518L2.47457 3.23254C2.27931 3.03727 2.27931 2.72069 2.47457 2.52543V2.52543Z" fill="#4F4F4F"></path>
                  </svg></a></div>
              </div>
            </div>
            <div class="collapse collapsed" id="collapse_1" aria-labelledby="heading_1" data-parent="#accordionAddCollection"></div>
          </div>
          <div class="card">
            <div class="card-header" id="heading_2">
              <div class="items collapsed" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                <div class="icon"><img src="/static/images/general/icons/products/format/format-1.png"></div>
                <div class="format">
                  <div class="in-stock">В наличии</div>
                  <div class="name">EcoWDF</div>
                </div>
                <div class="size">
                  <div class="title">Размер:</div>210х100х65
                </div>
                <div class="price">
                  <div class="title">Цена за шт.:</div>66.2
                </div>
                <div class="count">
                  <div class="inputCount" id="inputCount"><a class="btn_minus">
                    <svg width="5" height="1" viewbox="0 0 5 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0H5V1H0V0Z" fill="#444444"></path>
                    </svg></a>
                    <input type="text" placeholder="0"/><a class="btn_plus">
                    <svg width="7" height="7" viewbox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 3H7V4H0V3Z" fill="#444444"></path>
                      <path d="M4 0V7H3V0L4 0Z" fill="#444444"></path>
                    </svg></a>
                  </div>
                </div>
                <div class="count-m2">
                  <div class="inputCount" id="inputCount"><a class="btn_minus">
                    <svg width="5" height="1" viewbox="0 0 5 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0H5V1H0V0Z" fill="#444444"></path>
                    </svg></a>
                    <input type="text" placeholder="0"/><a class="btn_plus">
                    <svg width="7" height="7" viewbox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 3H7V4H0V3Z" fill="#444444"></path>
                      <path d="M4 0V7H3V0L4 0Z" fill="#444444"></path>
                    </svg></a>
                  </div>
                </div>
                <div class="total">
                  <div class="title">Сумма:</div>0 ₽
                </div>
                <div class="arrow"><img src="/static/images/general/icons/products/arrow_black.svg"></div>
                <div class="delete"><a class="btn_delete">
                  <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.47465 7.47465C2.27938 7.27938 2.27939 6.9628 2.47465 6.76754L6.71729 2.5249C6.91255 2.32964 7.22913 2.32964 7.42439 2.5249V2.5249C7.61966 2.72016 7.61966 3.03674 7.42439 3.23201L3.18175 7.47465C2.98649 7.66991 2.66991 7.66991 2.47465 7.47465V7.47465Z" fill="#4F4F4F"></path>
                    <path d="M2.47457 2.52543C2.66983 2.33017 2.98642 2.33017 3.18168 2.52543L7.42432 6.76807C7.61958 6.96333 7.61958 7.27991 7.42432 7.47518V7.47518C7.22906 7.67044 6.91247 7.67044 6.71721 7.47518L2.47457 3.23254C2.27931 3.03727 2.27931 2.72069 2.47457 2.52543V2.52543Z" fill="#4F4F4F"></path>
                  </svg></a></div>
              </div>
            </div>
            <div class="collapse collapsed" id="collapse_2" aria-labelledby="heading_2" data-parent="#accordionAddCollection"></div>
          </div>
        </div>
        <div class="total">
          <div class="item item_total_sum">
            <div class="text">Общая сумма:</div>
            <div class="sum">1 289 000.35 ₽</div>
          </div>
          <div class="item item_btn_add-collection">
            <div class="btn btn_add-collection">
              <svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4141 6.91406H8.08594V0.585938C8.08594 0.262324 7.82361 0 7.5 0C7.17639 0 6.91406 0.262324 6.91406 0.585938V6.91406H0.585938C0.262324 6.91406 0 7.17639 0 7.5C0 7.82361 0.262324 8.08594 0.585938 8.08594H6.91406V14.4141C6.91406 14.7377 7.17639 15 7.5 15C7.82361 15 8.08594 14.7377 8.08594 14.4141V8.08594H14.4141C14.7377 8.08594 15 7.82361 15 7.5C15 7.17639 14.7377 6.91406 14.4141 6.91406Z" fill="black"></path>
              </svg><span>Добавить в коллекцию</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>