<div class="grid">
    <div data-hook="taxon_products" class="products-include">
        <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    </div>
</div>