ul {
  &.breadcrumb-navigation {
    padding:0;
    margin:0;
    padding-top:4px;
    list-style:none;
    color:#424a53;
    margin-bottom:2em;

    li {
      display: inline;
      padding: 4px 5px;

      a {
        color:#424a53;
      }
      &.first {
        padding-left:40px;
        position: relative;
        background: url('breadcrumbs_icon.png') no-repeat top left;
      }
      &.separator {
        div {
          display: inline-block;
          height: 0;
          margin: 0 .7em;
        }
      }
    }
  }
}
