@import "breadcrumbs/index";
@import "menu/section_menu/index";

.fixed-nav {
  position: relative;
  z-index: 1006;

  &.fixed-nav--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.first__nav {
  .nav {
    display: flex;
  }
}

#div_about {
  .nav {
    color: black;

    &.nav__list {
      display: flex;
    }
  }
}

.first__wrap {
  background-color: #bebebe;
}