@import "breadcrumbs/index";
@import "menu/section_menu/index";

.fixed-nav {
  position: relative;
  z-index: 1006;

  &.fixed-nav--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.first__nav {
  .nav {
    display: flex;
  }
}

#div_about {
  .nav {
    color: black;

    &.nav__list {
      display: flex;
    }
  }
}

.first__wrap {
  background-color: #bebebe;
}

.news_block {
  display: table;
  width: 100%;

  .news__left {
    width: 20%;
    display: table-cell;
    vertical-align: top;
  }

  .news__center {
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
  }

  .news__right {
    width: 10.5%;
    display: table-cell;
    vertical-align: top;
  }

  .news__header h1 {
    color: #000;
    border: none !important;
    font-family: 'akzidenz-grotesk_proRgCn', sans-serif;
    text-align: left !important;
    font-size: 2em !important;
    font-weight: bold !important;
    padding-left: 0 !important;
  }


  .news__item {
    text-align: left;
    cursor: pointer;

    &:hover {
      .news__item-body {
        top: -5em;
      }

      .news__item-img:after {
        background: rgba(0,0,0,0.2);
      }

      a.more {
        .icon-wrap {
          width: 32px;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          &:after {
            width: 5em;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
          }
        }

        div {
          &:after {
            opacity: 1;
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
            -webkit-transform: translateY(7px);
            transform: translateY(7px);
          }
        }
      }
    }

    .more {
      font-size: 0.7em;

      div {
        &:after {
          content: 'Читать';
          text-align: right;
        }
      }
    }

    .icon-wrap {
      position: absolute;
      bottom: 50%;
      display: block;
      width: 32px;
      height: 32px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      &:after {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 1px;
        background: #2f3841;
        content: '';
        -webkit-transition: width 0.3s 0.2s;
        transition: width 0.3s 0.2s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }

    a {
      text-align: right !important;
      text-decoration: underline;
      display: block;
      width: 60px;
      height: 1em;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      outline: none;
      text-align: left;
      z-index: 1000;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      div {
        position: absolute;
        top: -13%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        width: 3.5em;
        pointer-events: none;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        right: 2.5em;

        &:after {
          position: absolute;
          left: 0;
          width: 100%;
          color: #2f3841;
          letter-spacing: 3px;
          font-weight: bold;
          opacity: 0.6;
          -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
          transition: transform 0.3s, opacity 0.3s;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      &.more {
        .icon-wrap {
          &:after {
            right: -webkit-calc(100% - 10px);
            right: calc(100% - 10px);
          }
        }
      }
    }

    h4 {
      font-family: 'akzidenz-grotesk_proBdCn', sans-serif;
      font-weight: normal;
      font-size: 2.3em;
      margin-bottom: 0.5em;
    }

    .news__item-body {
      width: 94%;
      margin: 0 auto;
      position: relative;
      top: -4em;
      padding: 1.5em;
      padding-bottom: 3em;
      -webkit-box-shadow: -2px 5px 14px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 5px 14px -4px rgba(0,0,0,0.75);
      box-shadow: -2px 5px 14px -4px rgba(0,0,0,0.75);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background: url(asset_path('bg_lightgrey.jpg')) repeat center center;

      .news__item-data {
        font-weight: bold;
        padding-bottom: 0.8em;
      }

      .news__item-anons {
        text-transform: none;
        font-family: 'akzidenz-grotesk_prolight', sans-serif;
        font-weight: normal;
      }
    }

    .news__item-img {
      position: relative;
      width: 100%;
      display: block;
      height: 30em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #f5f5f5;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        content: '';
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
}

.navigation-pages .switch .separator,
.navigation-pages .switch a {
  display: inline-block;
  line-height: 180%;
  padding: 0 .3em;

  &.selected {
    text-decoration: none;

    &:first-child {
      padding-left: 0;
    }
  }
}

.news {
  &.news-detail{
    img{
      &.detail_picture{
        border: 1px solid #e7e2db;
        float: left;
        margin: 0 .6em .3em .1em;
      }
    }

    &.site_content {
      float: left;
      text-align: left !important;
      text-transform: none !important;
    }
  }

}

.video-js {
  .vjs-tech {
    width: 400px;
    height: 300px;
    outline: none;
    margin: 2em;
  }
}

.gallery-photos-single-item {
  margin: 2em 0 2em 0;

  a {
    display: inline-block;
    margin: 3px;
    vertical-align: top;
  }

  img {
    border: 1px solid #c2845e;
    display: block;
  }
}

.certificates {
  margin: 1em 0 0 0;

  .item {
    background: #fff;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 1px 1px 1px 0px #c9c9c9;
    -moz-box-shadow: 1px 1px 1px 0px #c9c9c9;
    box-shadow: 1px 1px 1px 0px #c9c9c9;
    display: inline-block;
    font-size: 80%;
    margin: 0 2% 3% 0;
    vertical-align: top;
    width: 201px;
  }

  .item-head {
    min-height: 20px;
    padding: 1em 0 0 .7em;
    position: relative;
  }

  .item-hr {
    background: #f4f4f4;
    height: 1px;
    margin: .5em .7em .3em;
    padding: 0;
    width: auto;
  }

  .item-corner {
    background: transparent url(asset_path('corner.png')) right top no-repeat;
    height: 22px;
    position: absolute;
    right: -5px;
    top: -2px;
    width: 24px;
    z-index: 1;
  }

  .item-date {
    color: #b6b6b6;
    margin: 0 8px 0 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 85%;
  }

  .item-picture {
    margin: -1em 0 0 -.7em;
    padding: 1px 0 0 1px;
    min-height: 4em;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .item-footer {
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%);
    padding: .25em .55em .85em;
  }

  .item-file-new-window {
    background: transparent url(asset_path('new-window.gif')) center center no-repeat;
    display: block;
    float: right;
    height: 12px;
    width: 12px;
    margin: 0 2px 0 0;
  }

  .item-file-link {
    font-size: 80%;
    line-height: 120%;
  }

  .item-file-size {
    color: #b2ae94;
    font-size: 80%;
    font-style: italic;
    line-height: 120%;
    white-space: nowrap;
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;

  + label {
    position: relative;
    padding: 0 0 0 40px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 28px;
      height: 28px;
      transition: .2s;
      border: 2px solid #767b82;
    }

    &:after {
      content: '';
    }
  }

  &:checked {
    + label {
      &:before {
        background: #424a53;
        border: 2px solid #424a53;
      }

      &:after {
        background-image: url(asset_path('check.svg'));
        width: 50px;
        height: 50px;
        position: absolute;
        top: -7px;
        left: -10px;
      }
    }
  }

  &.small {
    + label {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        transition: .2s;
        border: 2px solid #92969c;
      }

      &:after {
        content: '';
      }
    }

    &:checked {
      + label {
        &:before {
          background: #92969c;
          border: 2px solid #92969c;
        }

        &:after {
          background-image: url(asset_path('check.svg'));
          width: 25px;
          height: 25px;
          position: absolute;
          top: 0px;
          left: -3px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.user_registration_checkbox {
  display: flex;
  margin-bottom: 2em;

  label {
    font-size: 28px;
  }

  div{
    &:first-child{
      margin-right: 5em;
    }
  }
}

.input {
  color: #c3c5c9;
  border: 2px solid #c3c5c9;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
  font-size: 20px;
  font-family: 'akzidenz-grotesk_proLtCn', sans-serif;
  position: relative;
  padding: 0.1em 1.5em 0.1em 0.5em !important;
  background-color: rgba(255, 255, 255, 0.5);

  &:hover, &:focus {
    color: #424a53;
    background-color: #ffffff;
    border: 2px solid #424a53;
    background: rgba(255,255,255,0.8);

  }

  &.standard_input {
    width: 300px;
  }

  &.numeric_short_input {
    width: 190px;
  }

  &.address_input {
    width: calc(380px + 0.5em);
  }

  + label {
    position: relative;
  }

  + label:before {
    content: '';
  }

  &.success {
    border: 1px solid #424a53;
    background: rgba(243,253,241,0.6);

    + label:before {
      background-image: url(asset_path('check_green.svg'));
      width: 50px;
      height: 50px;
      position: absolute;
      top: -16px;
      left: -45px;
    }
  }

  &.error {
    border: 2px solid #eb0000;
    background: rgba(252,226,226,0.6);

    + label:before {
      background-image: url(asset_path('close_error.svg'));
      width: 50px;
      height: 50px;
      position: absolute;
      top: -6px;
      left: -35px;
      background-repeat: no-repeat;
    }
  }
}

.form-group {
  .hint {
    color: #989ca2;
    text-transform: initial;
    margin: 0.5em 0;
  }
}

.private_user_form, .entity_user_form, .credentials {
  .form-group {
    margin-bottom: 0.5em;
  }

  .submit-group {
    text-align: center;
  }

  .submit {
    background-color: #424a53;
    color: #ffffff;
    transition: 0.2s;
    width: 250px;
    border: 2px solid #424a53;


    &:disabled {
      border: 2px solid #ffffff;
      background-color: #abb4c0;
      color: #dde0e5;
      transition: 0.2s;
    }
  }
  
  .flex-row {
    display: flex;

    div {
      margin-right: 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .organization-checkboxes {
    display: flex;
    height: 100%;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    text-transform: initial;
  }

  .passwords {
    display: flex;
    flex-direction: column;
  }

  .want_be_dealer, .terms {
    text-transform: initial;
    margin: 0.75em;

    .hint {
      margin-left: 40px;
    }

    .link {
      text-decoration: underline;
    }
  }

  .terms {
    width: 275px;

    label {
      display: block;
    }

    .checkbox {
      + label {
        &:after {
          top: -3px;
        }
      }
    }
  }
}

.flash-error {
  color: #eb0000;
}

.fixed-nav {
  .mini_profile {
    float: right;
    position: relative;

    .cart_profile {
      display: none;
    }

    &.opened {
      .cart_profile {
        display: block;
        position: absolute;
        bottom: -73px;
        right: 0;
        top: 32px;
        z-index: 5;
        font-size: large;

        .standard {
          opacity: 1;
        }
      }
    }
  }

  .mini_cart {

  }

  .mini_profile, .mini_cart {
    img {
      border: 1px solid #2f3841;
      padding: 0.1em;
      cursor: pointer;
    }
  }
}

.cart_profile {
  position: absolute;
  right: 4em;
  top: 2em;
  width: 184px;

  .profile {
    .username {
      margin: 0.5em;
      text-align: center;
    }

    .standard {
      min-width: 160px;
      min-height: 84px;
      color: white;
      background-color: #2f3841;
      opacity: 0.5;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      border: 1px solid #ffffff;

      &:hover {
        opacity: 1;
        transition: 0.5s;
      }

      .title {
        display: flex;
        align-items: center;
        margin: 0.5em 0 0.2em;
        justify-content: space-around;
      }

      .credentials {
        input {
          height: 28px;
          margin: 0.2em 0.5em;
          max-width: 160px;
          padding: 0.1em 1.75em 0.1em 0.25em !important;
          font-size: 1em;

          &.success {
            + label {
              &:before {
                left: -55px;
                top: -13px
              }
            }
          }

          &.error {
            border: 1px solid #eb0000;

            + label {
              &:before {
                left: -45px;
                top: -3px;
              }
            }
          }

          &.submit {
            padding: 0 !important;

            &:disabled {
              border: 1px solid #ffffff;
            }
          }

        }

        .hint, .login-error, .forgot-password {
          text-transform: initial;
          font-size: 75%;
          margin: 0.2em 0.75em 0.75em;
        }

        .login-error {
          color: #eb0000;
          margin: 0.75em
        }

        .forgot-password, .login-error {
          display: none;
        }

        .forgot-password {
          text-decoration: underline;
          color: #ffffff;
          opacity: 0.75;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;

        a {
          border: 1px solid #ffffff;
          margin: 0.2em 0.5em;
          padding: 0.2em 0.5em;
          text-align: center;
          transition: 0.2s;

          &:hover {
            color: #2f3841;
            background-color: #ffffff;
            transition: 0.2s;
          }
        }
      }

      .active {
        color: #2f3841;
        background-color: #ffffff;
      }
    }
  }
}

.activations {
  .title {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 2em;
  }

  .buttons_wrapper {
    text-align: center;
    .send_email {

    }
  }
}

