javascript:
  $(document).ready(function() {

    function init() {
      var points = JSON.parse( $('#BX_YMAP_MyMap').attr('data-points')),
        activePoint = $.grep(points, function(point){
            return point.active_on_home == true
        })[0],
        activePointCoordinates = [];

      if (activePoint != null) {
        activePointCoordinates = [activePoint.lat, activePoint.lng]
      } else {
        activePointCoordinate = [55.76, 37.64]
      }

      var myMap = window.YandexMap = new ymaps.Map("BX_YMAP_MyMap", {
        center: activePointCoordinates,
        zoom: 7,
        controls: ['zoomControl', 'typeSelector',  'fullscreenControl']
        });


      $('.network__state a').on('click', function () {
          $('.network__state').removeClass('network__state--active');
          $(this).parent().addClass('network__state--active');
          myMap.setCenter([$(this).data('lat'), $(this).data('lng')], 11, 'map');
      });

      var mapPoints = [];

      myMap.events.add('click', function (e) {
        myMap.balloon.close();
      });

      function pointBody(point) {
        var body = '<div class="map__signature">';
        body += '<span class="close_balloon" onclick="window.YandexMap.balloon.close();">&times;</span>';

        if(point.image != null) {
          body += '<span class="map__logo_company" style="background-image:url("' + point.image + '")"></span>';
        }

        body += '<span class="map__company">' + point.name + '</span>';

        if(point.address != '') {
          body += '<span class="map__address">' + point.address + '</span>';
        }

        if(point.site != '') {
          body += '<a target="blank" href="http://' + point.web_site + '" class="map__web">' + point.web_site + '</a>';
        }

        if(point.email != '') {
          body += '<a href="mailto:' + point.email + '" class="map__email">' + point.email + '</a>';
        }

        if(point.phone != '') {
          body += '<a href="tel:' + point.phone + '" class="map__phone">' + point.phone + '</a>';
        }

        body += '</div>'

        return body
      }

      points.forEach(function(point){
          mapPoints.push(
            new ymaps.Placemark([point.lat, point.lng], {
              hintContent: point.name,
              balloonContentBody: pointBody(point),
            }, {
              iconLayout: 'default#imageWithContent',
              iconImageHref: '/assets/metka.png',
              iconImageSize: [32, 32],
              iconImageOffset: [-24, -24],
              iconContentOffset: [15, 15],
              balloonLayout: "default#imageWithContent",
              balloonContentSize: [289, 151],
              balloonImageHref: '/assets/bgbaloon.png',
              balloonImageOffset: [-144, -147],
              balloonImageSize: [289, 151],
              balloonShadow: false,
              balloonCloseButton: true,
              hasCloseBallon: true,
            })
          );
      });

      mapPoints.forEach(function(point){
        myMap.geoObjects.add(point);
      });
    }

    ymaps.ready(init);
  });