ul id="sidebar-map-retailers" class="collapse nav nav-pills nav-stacked"
  = tab plural_resource_name(Spree::Retailer), url: admin_retailers_path
  = tab plural_resource_name(Spree::RetailerRegion), url: admin_retailer_regions_path

