<div class="text police">
    Соглашаюсь на обработку моих персональных данных в соответствии с
    <a target="_blank" href="<%= confidential_agreement_path %>">Политикой конфиденциальности"</a>
    и принимаю условия
    <a target="_blank" href="<%= user_agreement_path %>">Пользовательского соглашения"</a>
    и
    <a target="_blank" href="<%= oferta_path %>">Оферты"</a>
</div>