<div class="confidential">
    <%= link_to 'Политика конфиденциальности - PDF', '/agreements/confidential_agreement.pdf', target: '_blank',style: 'text-decoration: underline' %>

    <h3 style="text-align: center">Политика конфиденциальности</h3>
    <p>Настоящая Политика конфиденциальности (далее — Политика) разработана в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» и устанавливает цели, правовые основания, порядок и объем обработки ООО «Богандинский кирпичный завод» персональных данных, предоставляемых Пользователями, использующие Сервисы, расположенные на Сайте по адресу www.brickmax.ru.</p>
    <p>Понятия, указанные в настоящей Политике, используются в том значении, в котором они приведены в Федеральном законе «О персональных данных», если иное прямо не вытекает из текста настоящей Политики.</p>
    <p>Действующая редакция постоянно находится на Сайте по адресу: www.brickmax.ru.</p>
    <ul class="black"> Присоединяясь к использованию Сервиса, равно как и при создании Профиля на Сайте Пользователь:
          <ul>
                        <li class="tire">подтверждает, что представляемые им данные принадлежат ему лично и (или) Пользователь является законным представителем лиц, в отношении которых предоставляются указанные в Политике данные;</li>
                        <li class="tire">подтверждает, что перед использованием Сайта (Сервиса) он внимательно ознакомился с изложенными ниже условиями использования персональных данных. Пользуясь Сайтом (Сервисом), Пользователь понимает изложенные в настоящей Политике условия и подтверждает свое полное и безусловное согласие с ними;</li>
                        <li class="tire">выражает полное и безоговорочное согласие с настоящей Политикой и указанными в ней условиями сбора и обработки персональной информации, и предоставляет ООО «Богандинский кирпичный завод» добровольное согласие на обработку своих персональных данных  на условиях, предусмотренных Политикой и действующим законодательством Российской Федерации.</li>
                        <li class="tire">получение от Пользователя требования (запроса) об уничтожении персональных данных;</li>
                        <dt class="black">В случае несогласия с условиями настоящей Политики, Пользователь обязан воздержаться от любого использования Сервиса.</dt>
        </ul>
    </ul>
       <ol>
        <li>Термины и определения.
            <ol>
                <li>Сайт — предоставляющий доступ к Сервису сайт, расположенный в сети Интернет по адресу www.brickmax.ru, включая все его поддомены.</li>
                <li>Сайт — предоставляющий доступ к Сервису сайт, расположенный в сети Интернет по адресу www.brickmax.ru, включая все его поддомены.</li>
                <li>Богандинский кирпичный завод, Мы — Общество с ограниченной ответственностью «Богандинский кирпичный завод», ИНН 7224080502, ОГРН 1197232007720, расположенное по адресу: 625521, Тюменская обл., Тюменский р-н, рп. Богандинский, ул. Кирова, д. 10. Оператор самостоятельно организует и осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия, совершаемые с персональными данными.</li>
                <li>Пользовательское соглашение — соглашение между Пользователем и ООО «Богандинский кирпичный завод», содержащее все необходимые и существенные условия предоставления доступа к Сервису и использования Сервиса Пользователем, неотъемлемой частью которого является настоящая Политика.</li>
                <li>Пользователь — физическое лицо, создавшее Профиль в Сервисе, а также согласившееся с условиями Пользовательского соглашения и настоящей Политики. Пользователями Сервиса являются Заказчики услуг, на обработку персональных данных которых предоставляется полное и безусловное согласие.</li>
                <li>Профиль — учетная запись Пользователя, содержащая данные о нем и имеющая набор прав доступа к Сервису.</li>
                <li>Файлы cookie — данные Пользователя, которые автоматически передаются ООО «Богандинский кирпичный завод» в процессе использования Сайта (Сервиса) с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, информация о браузере и виде операционной системы устройства Пользователя, технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время использования Сайта и иные действия, совершаемые на Сайте.</li>
                <li>Обработка персональных данных — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                <li>Автоматизированная обработка персональных данных — обработка персональных данных с помощью средств вычислительной техники.</li>
                <li>Распространение персональных данных — действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</li>
                <li>Предоставление персональных данных — действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</li>
                <li>Блокирование персональных данных — временное прекращение обработки персональных данных (за исключением случаев, когда обработка необходима для уточнения персональных данных).</li>
                <li>Уничтожение персональных данных — действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</li>
                <li>Обезличивание персональных данных — действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.</li>
                <li>Закон о персональных данных — Федеральный закон от 27.07.2006 № 152-ФЗ «О персональных данных».</li>

                <p>Термины, не определенные в настоящем разделе, толкуются в соответствии с условиями Пользовательского соглашения, а также законодательством Российской Федерации.</p>
            </ol>
        </li>

        <li>Персональная информация, которую получает и обрабатывает Оператор
            <ol>
                <li>В рамках настоящей Политики под «Персональной информацией» понимается:
                    <ol>
                        <li>Персональная информация, которую Пользователь предоставляет о себе самостоятельно при создании Профиля и (или) в процессе использования Сервиса (фамилия, имя, отчество, место работы, должность, данные об имеющемся образовании, контактные данные (e-mail, телефон);</li>
                        <li>Логин и пароль, предоставляемые Оператором Пользователю после заполнения им формы для создания Профиля.</li>
                    </ol>
                </li>

                <li>Для целей настоящей Политики термин Персональная информация, если иное не вытекает напрямую из положений Политики, является синонимом персональных данных, как они определены в законодательных актах Российской Федерации.</li>
                <li>Оператор не обрабатывает персональные данные субъекта, касающиеся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений.</li>

                <li>Данные, которые автоматически собираются Сайтом:
                    <ol>
                        <li>Стандартные данные, автоматически получаемые http-сервером при доступе к Сайту и последующих действиях Пользователя (IP-адрес хоста, вид операционной системы пользователя, страницы Сайта, посещаемые пользователем).</li>
                        <li>Информация из системного журнала автоматически передается Вашим браузером каждый раз, когда Пользователь подает запрос о доступе (т.е. визите) к веб-странице или приложению. Она также может предоставляться при загрузке контента веб-страницы или приложения в Ваш браузер или устройство. Когда Вы используете наши Сервисы, наши серверы автоматически записывают некоторую информацию системного журнала, включая Ваш веб-запрос, адрес Интернет-протокола («IP»), тип браузера, страницу обращения/выхода и адреса URL, число кликов и информацию о Ваших действиях со ссылками на Сервисах, имена доменов, целевые рекламные страницы, просмотренные страницы и прочую аналогичную информацию. Оператор также может собирать аналогичную информацию из электронных сообщений, направленных нашим Пользователям, которая затем помогает Оператору отслеживать, какие сообщения открываются и по каким ссылкам нажимали (кликали) получатели. Эта информация позволяет обеспечить более точную тематику сообщений и усовершенствование Сервисов.</li>
                        <li>Информационный трафик между Пользователем и Оператором, в том числе электронные сообщения, касающиеся Сервисов (например, подтверждение аккаунта, изменения или обновление характеристик Сервисов, технические уведомления и сообщения системы безопасности).</li>
                        <li>Аналитическую информацию. Информацию Пользователей и о Пользователях для выполнения нашей аналитической работы и использования сторонних аналитических сервисов. Оператор использует аналитическую информацию для обеспечения бизнес-анализа и операций, коммерческого анализа, разработки продуктов, усовершенствования продуктов и услуг, персонализации контента, обеспечения рекламы и разработки рекомендаций. Мы собираем и используем эту аналитическую информацию совместно с аналитической информацией, полученной от других Пользователей.</li>
                        <li>Для целей проведения платежей и в целях обработки данных, об осуществленных пользователями платежах, Оператор может собирать информацию о платежных реквизитах пользователях, в том числе, но не ограничиваясь, данные о самом факте проведения платежа, осуществленного через платежные системы третьих лиц, а также отдельные реквизиты плательщика;</li>
                        <li>Оператор может собирать и обрабатывать данные об идентификаторах устройств Пользователей. Когда Вы используете мобильные устройства, например, планшет или телефон, для получения доступа к нашим Сервисам, мы можем получать доступ к Вашему устройству, получать, контролировать и хранить на нем и (или) дистанционно один или несколько «идентификаторов устройств». Идентификаторы устройств — это небольшие файлы данных или аналогичные структуры данных, хранящиеся на Вашем мобильном устройстве или связанные с ним, которые однозначно идентифицируют Ваше мобильное устройство. Идентификатором устройства могут быть данные, хранящиеся в связи с аппаратным оборудованием устройства, данные, хранящиеся в связи с операционной системой устройства или другим программным обеспечением, либо данные, отправленные Оператором на устройство. Идентификатор устройства может передавать информацию нам или стороннему партнеру о том, как Вы осуществляете просмотр в браузере и используете Сервисы, и может помочь нам или другим лицам направлять сообщения или персонализированный контент и рекламу. Некоторые функции Сервисов могут не работать надлежащим образом, если использование идентификаторов устройств затруднено или отключено.</li>
                    </ol>
                </li>

                <li>Оператор исходит из того, что Пользователь при предоставлении персональных данных на Сайте:
                    <ol>
                        <li>является дееспособным лицом. В случае, если Пользователь является недееспособным лицом, согласие на обработку персональных данных предоставляется законным представителем Пользователя, который в полной мере ознакомился и принял условия обработки персональных данных, определенные в настоящей Политике;</li>
                        <li>предоставляет достоверные и достаточные собственные персональные данные и (или) персональные данные представляемого лица, в том числе по вопросам, предлагаемым в форме для создания Профиля, и поддерживает эту информацию в актуальном состоянии;</li>
                        <li>обладает всеми необходимыми правами (включая сбор согласия других Пользователей при передаче их персональных данных), позволяющими ему осуществлять регистрацию и использовать настоящий Сайт;</li>
                        <li>осознает, что некоторые виды информации, переданные им другим Пользователям, не могут быть удалены самим Пользователем;</li>
                        <li>ознакомлен с настоящей Политикой, выражает свое безусловное согласие с ней и принимает на себя указанные в них права и обязанности.</li>
                    </ol>
                </li>

                <li>Пользователь принимает условия настоящей Политики и предоставляет Оператору конкретное, информированное и сознательное согласие на обработку своих персональных данных или персональных данных представляемого недееспособного лица на условиях, предусмотренных Политикой и действующим законодательством Российской Федерации, в следующем порядке:
                    <ol>
                        <li>При регистрации на Сайте — для персональных данных, которые Пользователь предоставляет Оператору: путем заполнения формы для регистрации на Сайте. Пользователь считается предоставившим согласие на обработку своих персональных данных в соответствии с настоящей Политикой при проставлении галочки в поле «Соглашаюсь на обработку моих персональных данных в соответствии с Политикой конфиденциальности и принимаю условия Пользовательского соглашения и Оферты» в момент нажатия кнопки «Зарегистрироваться»/ «Продолжить», при этом не требуется какого-либо дополнительного подписания, либо согласия в письменном (бумажном) виде.</li>
                        <li>При внесении или изменении персональных данных в разделе «Профиль» - для персональных данных, которые Пользователь предоставляет при редактировании информации. Пользователь считается предоставившим согласие на обработку своих вновь внесенных или измененных персональных данных в момент завершения их редактирования.</li>
                        <li>При заполнении формы обратной связи – для персональных данных, которые Пользователь предоставляет Оператору, заполнении любой формы обратной связи, размещенной на Сайте. Пользователь считается предоставившим согласие на обработку своих персональных данных, внесенных в поля формы обратной связи, в момент нажатия кнопки, подтверждающей отправку заявки (кнопки могут называться «Оставить заявку», «Отправить отклик» и иным подобным образом).</li>
                        <li>При отправке скан-копии заполненной формы согласия на обработку персональных данных по электронной почте. Пользователь считается предоставившим согласие на обработку своих персональных данных в дату, указанную в скан-копии согласия.</li>
                        <li>При любом использовании Сайта – для Файлов cookies, при условии соглашения с условиями соответствующего уведомления.</li>
                    </ol>
                </li>

                <li>Принимая условия настоящей Политики Пользователь дает Оператору свое безусловное согласие на обработку Сайтом (Сервисом) передаваемых персональных данных в соответствии с условиями настоящей Политики и подтверждает, что предоставляя такое согласие, он действует свободно, своей волей и в своем интересе.</li>
                <li>Согласие Пользователя на обработку его персональных данных со стороны Оператора действует до достижения целей обработки таких персональных данных.</li>
            </ol>

        <li>Правовые основания, цели и принципы обработки Персональной информации
            <ol>
                <li>Обработка персональных данных Пользователей осуществляется на следующих правовых основаниях:

                    <ol>
                        <li>Согласие Пользователя на обработку Персональных данных, предоставленное в установленном в Политики порядке;</li>
                        <li>Обработка необходима для достижения целей, предусмотренных законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;</li>
                        <li>Обработка необходима для исполнения пользовательского соглашения Оператора, размещенного на странице Сайта: www.brickmax.ru, стороной которого либо выгодоприобретателем или поручителем, по которому является субъект персональных данных;</li>
                        <li>Обработка необходима для исполнения иных соглашений, для исполнения которых Пользователь использует Сервис.</li>
                    </ol>
                </li>

                <li>Целью настоящей Политики является обеспечение в рамках исполнения Пользовательского соглашения между Оператором и Пользователем надлежащей обработки и защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.</li>
                <p>Оператор строго соблюдает требования законодательства Российской Федерации в сфере защиты персональных данных. Оператор гарантирует, что собираемая им Персональная информация является необходимой и достаточной для достижения целей сбора и обработки, изложенных в настоящей Политике.</p>
                <li>Оператор осуществляет сбор и обработку Персональной информации Пользователей также в следующих целях:
                    <ol>
                        <li>Регистрация и идентификация Пользователя на Сайте Оператора;</li>
                        <li>Предоставление возможности использования Сервиса Пользователями;</li>
                        <li>Исполнение Оператором обязательств перед Пользователями по соглашению (в том числе Пользовательскому соглашению), включая информирование Пользователя о дате и времени проведения занятий (в том числе путем соединения по телефону и (или) направления смс-сообщений), предоставление методических и иных материалов.</li>
                        <li>Проведение статистических исследований на основе обезличенных сведений, предоставленных Пользователем, и анализ полученных статистических данных; Анализ результатов использования Сервиса</li>
                        <li>Поддержание обратной связи между Оператором и Пользователем, в том числе направление уведомлений и информации, касающихся использования Сервиса, а также обработка запросов Пользователя; Предоставление Пользователям технической поддержки; Техническая поддержка и иные уведомления в соответствии с настоящим пунктом могут осуществляться как с использованием технической инфраструктуры Оператора, так и третьих лиц;</li>
                        <li>Осуществление работ по улучшению качества Сервиса, удобства его использования, а также разработка новых продуктов Оператора;</li>
                        <li>Оптимизация Оператором рассылки сообщений рекламного характера; Сообщения рекламного характера могут направляться как со стороны Оператора, так и со стороны третьих лиц, которые принимают участие в техническом обеспечении доставки сообщений. Сообщения рекламного характера могут направляться на адрес электронной почты и номер мобильного телефона. Пользователь вправе отказаться от использования адреса электронной почты и/или номера мобильного телефона для рассылки рекламных материалов.
                            <ol>
                                <li>Для отказа от рассылки рекламных материалов по адресу электронной почты Пользователю необходимо перейти по ссылке со слов «отписаться» в нижней части любого электронного письма;</li>
                                <li>Для отказа от рассылки рекламных материалов по номеру мобильного телефона Пользователю необходимо направить электронное сообщение по адресу электронной почты технической поддержки. Оператор прекращает обработку персональных данных Пользователя в целях рассылки рекламных материалов в день получения отказа от Пользователя от рассылки рекламных материалов.</li>
                            </ol>
                        </li>

                        <li>Идентификация стороны в рамках соглашений и договоров с Оператором;</li>
                        <li>Осуществление Пользователями оплаты для приобретения права использования Сервисами;</li>
                        <li>Трудоустройство на вакантные должности Компании;</li>
                        <li>Внесение в кадровый резерв.</li>
                    </ol>
                </li>
                <li>Оператор может разрешить партнерским сетям размещать рекламу на Сайте. Пользователь вправе в любое время самостоятельно изменить настройки приема файлов Cookie в настройках своего браузера или отключить их полностью без гарантии сохранения полного функционала Сайта.</li>
                <li>Пользователь предоставляет Оператору право осуществлять следующие действия (операции) с персональными данными
                    <ul>
                        <li class="tire">сбор, запись, систематизация, накопление;</li>
                        <li class="tire">использование в указанных в настоящей Политике целях;</li>
                        <li class="tire">хранение на территории Российской Федерации до утраты правовых оснований обработки и в течение установленных нормативными документами сроков хранения;</li>
                        <li class="tire">уточнение (обновление, изменение);</li>
                        <li class="tire">обезличивание, уничтожение, удаление;</li>
                        <li class="tire">передача (распространение) третьим лицам в соответствии с условиями и целями, указанными в настоящей Политике и действующим законодательством Российской Федерации;</li>
                        <li class="tire">иные действия исключительно в целях исполнения Пользовательского соглашения и предоставления доступа к Сервису.</li>
                    </ul>
                </li>

                <li>Обработка персональных данных осуществляется на основе следующих принципов:
                    <ul>
                        <li class="tire">обработка персональных данных осуществляется на законной и справедливой основе;</li>
                        <li class="tire">обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных. По достижении цели обработка персональных данных прекращается, за исключением случаев, предусмотренных действующим законодательством Российской Федерации;</li>
                        <li class="tire">не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;</li>
                        <li class="tire">обработке подлежат только персональные данные, которые отвечают целям их обработки;</li>
                        <li class="tire">содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки. Обрабатываемые персональные данные не являются избыточными по отношению к заявленным целям их обработки;</li>
                        <li class="tire">при обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Обеспечивается принятие необходимых мер по удалению или уточнению неполных или неточных данных;</li>
                        <li class="tire">обрабатываемые персональные данные подлежат уничтожению по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено законом.</li>
                    </ul>
                </li>
            </ol>
        </li>
        <li>Порядок обработки персональных данных
            <ol>
                <li>Обработка персональных данных (в том числе сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение) Пользователя производится Оператором в соответствии с требованиями законодательства Российской Федерации и с использованием баз данных, расположенных на территории Российской Федерации.</li>
                <li>При использовании веб-сайта Оператора и его поддоменов используются файлы cookie. Использование файлов cookie позволяет Оператору контролировать доступность Сайта, анализировать
                    данные, а также осуществлять анализ развития Сервисов. При посещении Сайта Оператор запрашивает согласие Пользователя на использование файлов cookie. Пользователь вправе в любое время самостоятельно изменить настройки приема файлов cookie в настройках своего браузера или отключить их полностью без гарантии сохранения полного функционала Сайта.</li>
                <li>Сбор Персональной информации Пользователя осуществляется в случаях, указанных в п. 2.6 и п. 3.1 Политики.</li>
                <li>Персональные данные и информация Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
                    Хранение персональных данных осуществляется (в зависимости от того, какое из событий наступит раньше):
                    <ul>
                        <li class="tire">до момента их уничтожения Оператором при получении от Пользователя отзыва согласия на обработку его персональных данных/персональных данных
                            представляемого недееспособного лица или требования об уничтожении таких персональных данных;</li>
                        <li class="tire">до момента достижения целей обработки персональных данных.</li>
                    </ul>
                </li>
                <li>Уточнение персональных данных может осуществляться со стороны Оператора по требованию Пользователя или самостоятельно Пользователем в разделе «Профиль» (раздел 6 Политики).</li>
                <li>Оператор вправе запросить у Пользователя информацию, которая, по усмотрению Оператора, будет являться необходимой и достаточной для идентификации такого Пользователя  и позволит исключить злоупотребления и нарушения законных прав третьих лиц.</li>
                <li>Оператор не раскрывает третьим лицам и не распространяет Персональную информацию без согласия Пользователей, с учетом положений, указанных в настоящей Политике. Ни при каких обстоятельствах Оператор не будет нести ответственность за последствия самостоятельного предоставления Пользователем Персональной информации о себе для общего доступа неограниченному кругу лиц, в том числе путем размещения данной информации на общедоступных ресурсах в сети Интернет.</li>
                <li>Пользователь принимает, что для целей поддержания коммуникаций, Оператор вправе отображать профиль Пользователя в объеме имя и фамилия для иных Пользователей Сервиса, зарегистрированных в пределах Оператора, указанной Пользователем-субъектом персональных данных при регистрации своего профиля в Сервисе.</li>
                <li>Передача персональных данных Пользователя третьим лицам в случаях, указанных в данной Политике, осуществляется с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</li>
                <li>Пользователь соглашается, что Оператор может предоставлять третьим лицам персональные данные Пользователей строго в целях обеспечения технической поддержки работы Сайта и Сервиса. Оператор вправе поручить обработку персональных данных другим лицам на основании заключаемых с этими лицами договоров, предусматривающих обязанность указанных лиц строго соблюдать конфиденциальность полученных от Оператора персональных данных при их обработке, а также выполнять требования к защите персональных данных в соответствии с действующим законодательством Российской Федерации. При поручении обработки персональных данных соблюдаются принципы и правила обработки персональных данных, предусмотренные законодательством Российской Федерации.
                    Перечень разрешенных третьим лицам способов обработки персональных данных: сбор, систематизация, накопление, хранение, использование, обезличивание, удаление, уничтожение. Третьему лицу запрещено осуществлять передачу и распространение персональных данных.</li>
                <li>Пользователь понимает, что Оператор может предоставлять третьим лицам обобщенную статистику о Пользователях Сайта для целей проведения статистического анализа, повышения эффективности работы Сайта.</li>
                <li>Сервис ориентирован на использование на территории Российской Федерации, хранение Персональной информации осуществляется на серверах, расположенных на территории Российской Федерации.</li>
                <li>Оператор применяет разумные и достаточные меры для защиты Персональной информации Пользователей в соответствии с законодательством Российской Федерации. При этом Пользователь понимает и соглашается, что в сети Интернет не может быть обеспечена абсолютная защита информации от угроз, которые в ней существуют. Настоящим пользователь дает свое согласие Оператору определять достаточный уровень защиты персональных данных и способы их хранения в соответствии с законодательством Российской Федерации.</li>
                <li>Пользователь принимает и соглашается, что Оператор ни при каких обстоятельствах не должен нести ответственность за утрату и/или распространения персональных данных, если такая утрата и/или распространение стали результатом действий, вследствие вины или небрежности, третьих лиц. Оператор окажет Пользователю разумную помощь и содействие в защите его прав и законных интересов в судебных разбирательствах с такими третьими лицами.</li>
                <li>Пользователь соглашается с обязанностью немедленно уведомить Оператора о любом нарушении безопасности, связанным с доступом к Сервисам и Сайту, совершённом с использованием логина и пароля Пользователя без его ведома и согласия. Оператор не принимает на себя ответственности ни за какие последствия нарушения безопасности, в том числе потерю или порчу данных, произошедшие в результате авторизованного доступа третьих лиц на Сайт и/или к Сервисам с помощью логина и пароля Пользователя.</li>
                <li>Обработка персональных данных Пользователя осуществляется Оператором с момента регистрации Профиля до утраты правовых оснований обработки.</li>
                <li>Уничтожение персональных данных осуществляется в следующих случаях:
                    <ul>
                        <li class="tire">удаление Профиля Пользователя в Сервисе по запросу Пользователя в соответствии;</li>
                        <li class="tire">истечение срока действия согласия.</li>
                        <li class="tire">поступление от Пользователя отзыва согласия на обработку персональных данных;</li>
                        <li class="tire">получение от Пользователя требования (запроса) об уничтожении персональных данных;</li>
                    </ul>
                </li>
                <li>В случае предоставлением Пользователем Сервису e-mail другого лица Пользователь гарантирует, что предварительно взял согласие на обработку персональных данных с лица, чей e-mail передается Сервису.</li>
            </ol>
        </li>

        <li>Изменение Персональных данных
            <ol>
                <li>Пользователь вправе направить Оператору запрос об уточнении своих персональных данных; о блокировке или уничтожении персональных данных, предоставленные им в ходе создания Профиля и (или) использования Сервиса, если такие данные являются неполными, устаревшими, недостоверными, незаконно полученными или не являются необходимыми для заявленной цели обработки. При этом Пользователь осознает и согласен с тем, что такая блокировка или уничтожение может повлечь невозможность использования некоторым функционалом Сервиса.</li>
            </ol>
        </li>

        <li>Меры, применяемые для защиты Персональных данных
            <ol>
                <li>Оператор принимает необходимые и достаточные правовые, технические и организационно меры в целях обеспечения защиты персональных данных
                    Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                    акие меры, в частности, включают
                    <ol>
                        <li>Регистрация в реестре операторов персональных данных;</li>
                        <li>Реализация организационно-правовых и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах;</li>
                        <li>Назначение лица, ответственного за обработку персональных данных;</li>
                        <li>Контроль фактов несанкционированного доступа к персональной информации;</li>
                        <li>Принятие необходимых мер по предотвращению несанкционированного доступа к персональной информации;</li>
                        <li>Контроль за реализацией мер по обеспечению безопасности персональной информации и уровнем защищенности информационных систем персональных данных.</li>
                        <li>Обеспечение конфиденциальности предоставленных Пользователем персональных данных.</li>
                    </ol>
                </li>
            </ol>
        </li>

        <li>Внесение изменений в Политику.
            <ol>
                <li>Оператор имеет право вносить изменения и (или) дополнения в настоящую Политику в любое время, в том числе в случае изменения законодательства и/или условий использования Сервиса. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция постоянно находится на Сайте.</li>
                <li>Оператор обязуется не вносить существенные изменения в Политику без уведомления Пользователей. Уведомления об изменении Политики могут быть отображены на Сайте и (или) Личном кабинете и (или) e-mail.</li>
                <li>Пользователь самостоятельно отслеживает изменения Политики и знакомится с действующей редакцией Политики перед каждым использованием Сервиса. Продолжение использования Сервиса Пользователем после внесения изменений и/или дополнений в настоящую Политику означает принятие и согласие Пользователя с такими изменениями и/или дополнениями. В случае несогласия Пользователя с условиями настоящей Политики использование Сайта и Сервисов должно быть немедленно прекращено.</li>
            </ol>
        </li>
    </ol>
</div>
