<div class="confidential">
    <%= link_to 'Пользовательское соглашение - PDF', '/agreements/user_agreement.pdf', target: '_blank', style: 'text-decoration: underline' %>
    <h3 align="center">Пользовательское соглашение</h3>
    <ol>
        <li>Термины и определения.
            <ol>
                <li>Cервис — все сервисы, предоставляемые Оператором в соответствии с условиями настоящего Соглашения. Доступ к Сервису осуществляется по адресу: www.brickmax.ru.</li>
                <li>Богандинский кирпичный завод, Мы — Общество с ограниченной ответственностью «Богандинский кирпичный завод», ИНН 7224080502, ОГРН 1197232007720, расположенное по адресу: 625521, Тюменская обл., Тюменский р-н, рп. Богандинский, ул. Кирова, д. 10.</li>
                <li>Пользователь — физическое лицо, создавшее Профиль в Сервисе, а также согласившееся с условиями Пользовательского соглашения и настоящей Политики. Пользователями Сервиса являются Заказчики услуг, на обработку персональных данных которых предоставляется полное и безусловное согласие.</li>
                <li>Профиль — учетная запись Пользователя, содержащая данные о нем и имеющая набор прав доступа к Сервису;</li>
                <li>Информация — сведения, вносимые в Сервис для целей использования Сервиса, в том числе персональные данные пользователей;</li>
                <li>Соглашение — текст настоящего Соглашения между Пользователем и Оператором, содержащий все необходимые и существенные условия предоставления Пользователю доступа к Сервису со стороны Оператора, условия использования Пользователем Сервиса и Интеллектуальной собственности, ограничения, условия приостановления и прекращения использования Сервиса ответственность Сторон, иные отношения Сторон, связанные с использованием Сервиса. Соблюдение условий настоящего Соглашения является необходимым условием для использования Пользователем Сервиса;</li>
                <li>Стороны — стороны настоящего Соглашения;</li>
                <li>Интеллектуальная собственность — результаты интеллектуальной деятельности или средства индивидуализации, права на которые принадлежат Оператору.</li>
                <li>Толкование настоящего Соглашения осуществляется в соответствии со следующими общими принципами:
                    <ol>
                        <li>Если иное не требуется по контексту, все термины, выделенные написанием с заглавных букв в настоящем Соглашении, употребляются в значении, закрепленном за ними в настоящем Соглашении;</li>
                        <li>Слова, употребленные в одном роде, подразумевают любой род, слова, употребленные в единственном числе, подразумевают также множественное число и наоборот, а ссылки на целое подразумевают ссылки, включающие любую его часть;</li>
                        <li>Ссылки на слово «включать» или «включающий» (или любой аналогичный термин) не должны толковаться как подразумевающие какое-либо ограничение и общие слова, введенные словом «другой» (или любым аналогичным термином), они не приобретают ограничительного значения в силу того, что им предшествуют слова, указывающие на конкретную категорию действий, вопросов или вещей;</li>
                        <li>Настоящее соглашение является лицензионным договором, по которому Пользователям предоставляется возможность использования интеллектуальной собственности Оператора, и ни при каких обстоятельствах не должно трактоваться иным образом.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Общие положения.
            <ol>
                <li>Настоящее Соглашение распространяется на всех Пользователей Сервиса, независимо от целей его использования. Действие Соглашения распространяется на Пользователей с момента регистрации в Сервисе. Проставление галочки в поле «Соглашаюсь на обработку моих персональных данных в соответствии с Политикой конфиденциальности и принимаю условия Пользовательского соглашения» в момент нажатия кнопки «Зарегистрироваться»/«Продолжить»/«Вход» обозначает полное и безоговорочное согласие Пользователя с настоящим Соглашением. В случае несогласия с Соглашением, Пользователь не должен регистрироваться на Сервисе, обязан воздержаться от использования Сервиса или обязуется незамедлительно прекратить использование Сервиса, а также удалить любые материалы и Информацию, размещенные им в Сервисе. Пользователь обязуется самостоятельно, всеми доступными ему способами уведомить Оператора о желании прекратить использование Сервиса.</li>
                <li>Действующая редакция Соглашения постоянно размещена по адресу в сети Интернет www.brickmax.ru. Оператор оставляет за собой право вносить изменения и (или) дополнения в настоящее Соглашение в любой момент, в том числе в случае изменения законодательства и/или условий использования Сервиса. Пользователь самостоятельно отслеживает изменения Соглашения и знакомится с действующей редакцией Соглашения перед каждым использованием Сервиса. Продолжение использования Сервиса Пользователем после внесения изменений и/или дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями. В случае несогласия Пользователя с условиями настоящего Соглашения, использование Сайта и Сервисов должно быть немедленно прекращено.</li>

            </ol>
        </li>

        <li>Доступ к сервису и предоставление информации.
            <ol>
                <li>Для осуществления доступа к Сервису Пользователя осуществляется регистрация Профиля в Сервисе.</li>
                <li>При регистрации Профиля указывается следующая информация:
                    <ul>
                        <li>фамилия, имя, отчество;</li>
                        <li>контактные данные (e-mail, телефон).</li>
                        <dt class="tekst">Заказчик гарантирует и заверяет, что информация, которая может быть предоставлена Оператору, предоставляется с соблюдением требований законодательства Российской Федерации. Предоставляя Оператору персональные данные, Заказчик подтверждает, что им было получено обязательное письменное согласие на обработку персональных данных в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» и передачу их Оператору в целях, указанных в настоящем Соглашении и Политике конфиденциальности, являющейся неотъемлемой частью настоящего Соглашения (далее — Политика обработки персональных данных).</dt>
                    </ul>
                </li>
                <li>Пользователь предоставляет Оператору согласие на обработку предоставляемой им Информации и своих персональных данных в целях, указанных в настоящем Соглашении и Политике обработки персональных данных.</li>
                <li>Пользователь несет полную ответственность за безопасность предоставленных Оператором логина и пароля для Пользователя категории, в частности за отсутствие к ним доступа у третьих лиц. Все действия в Сервисе, совершенные под Профилем Пользователя считаются совершенными Пользователем.</li>
                <li>Пользователь обязуется использовать Сервис только в личных целях в соответствии с условиями настоящего Соглашения.</li>
                <li>Удаление Профиля Пользователя из Сервиса может быть произведено Оператором при условии надлежащего обращения Пользователя.</li>

            </ol>
        </li>

        <li>Права и обязанности сторон.
            <ol>
                <li>Оператор предоставляет Пользователям доступ к Сервису в сети Интернет с обеспечением необходимого уровня безопасности доступа и осуществлением перерывов на техническое обслуживание. Оператор вправе привлекать третьих лиц для предоставления Сервиса без уведомления/согласия Пользователя.</li>
                <li>Оператор предоставляет возможность Пользователям использовать любые материалы Сервиса, любыми способами, не противоречащими законодательству Российской Федерации и данному Соглашению.</li>
                <li>Пользователь соглашается с обязанностью немедленно уведомить Оператора о любом нарушении безопасности, связанном с доступом к Сервису, совершенном с использованием логина и пароля Пользователя без его ведома и согласия. Оператор не принимает на себя ответственность ни за какие последствия нарушения безопасности, в том числе потерю или порчу данных, произошедшие в результате доступа третьих лиц к Сервису с помощью логина и пароля Пользователя.</li>
                <li>Оператор предоставляет автоматизированные средства по восстановлению Пароля. При этом Оператор сохраняет за собой право ограничивать использование этих средств, а также временно или полностью приостанавливать их работу. Оператор не несёт ответственности за потерю информации для доступа к Сервису, совершенную по вине Пользователя, а также за любые последствия, которые могут возникнуть в результате этого.</li>
                <li>Пользователь соглашается с правом Оператора запрещать в целях безопасности использование некоторых логинов и блокировать доступ в Систему с их использованием.</li>
                <li>Пользователь обязуется соблюдать условия настоящего Соглашения и соглашается с тем, что Оператор имеет право по собственному усмотрению и без специального уведомления или предупреждения ограничивать доступ Пользователя к Сервису по причине нарушения условий настоящего Соглашения.</li>
                <li>Оператор сохраняет за собой право, но не обязан, проводить модерацию всех материалов, размещённых Пользователями в Сервисе, а именно осуществлять контроль за содержанием этих материалов на предмет запрещенных действий, и, в случае необходимости, по собственному усмотрению, без предварительного уведомления произвести их удаление.</li>
                <li>Пользователь соглашается с тем, что Оператор вправе по собственному усмотрению и без предварительного или последующего уведомления Пользователя и объяснения причин ограничивать или блокировать доступ к Сервису или принимать иные меры в отношении Пользователя, нарушившего условия настоящего Соглашения, либо нормы действующего законодательства, либо охраняемые законом права третьих лиц в случае поступления от них мотивированной жалобы.</li>
                <li>Бездействие со стороны Оператора при нарушении Пользователями условий Соглашения не лишает Оператора права предпринять необходимые для защиты своих интересов действия позднее и не говорит об отказе Оператора от своих прав при совершении подобных нарушений в будущем.</li>
            </ol>
        </li>

        <li>Интеллектуальная собственность.
            <ol>
                <li>Используя Сервис Пользователь признает и соглашается с тем, что все материалы, представленные в Сервисе, включая изображения, программный код, логотипы, графику, звуки и тд являются Интеллектуальной собственностью Оператора и защищены в соответствии с законодательством Российской Федерации об интеллектуальной собственности. Права на указанные объекты Интеллектуальной собственности Оператора являются действительными и охраняются во всех формах и носителях, в отношении всех технологий, как существующих в настоящее время, так и созданных в будущем.</li>
                <li>В соответствии с условиями настоящего Соглашения, Оператор настоящим предоставляет Пользователю неисключительную, не подлежащую передаче и сублицензированию, ограниченную лицензию на использование Интеллектуальной собственности для личного использования. Права использования Интеллектуальной собственности, предоставляемые согласно настоящему Соглашению, обусловлены соблюдением Пользователем настоящего Соглашения. Пользователь настоящим признает, что в рамках настоящего Соглашения не происходит передача или уступка прав на Интеллектуальную собственность, и настоящее Соглашение нельзя толковать как продажу (передачу) и (или) уступку каких-либо прав на Интеллектуальную собственность.</li>
                <li>Срок действия лицензии согласно настоящему Соглашению начинается в момент, когда Пользователь принимает настоящее Соглашение в соответствии с п. 2.1 настоящего Соглашения, и заканчивается в одну из следующих дат в зависимости того, которая наступит раньше: дату удаления Пользователем Профиля либо дату прекращения действия настоящего Соглашения. Действие лицензии закончится немедленно, если Пользователь попытается обойти какие-либо технические средства защиты, использующиеся в связи с Сервисом, или иным образом будете использовать Интеллектуальную собственность или Сервис в нарушение правил, установленных настоящим Соглашением.</li>
                <li>Оператор сохраняет за собой все права на Сервисы и Интеллектуальную собственность, принадлежащие Оператору, включая, в том числе, все авторские права, исключительные права на товарные знаки, ноу-хау, фирменные наименования, вещные права, патенты, программный код, аудиовизуальные эффекты, темы оформления, сюжеты, художественное оформление, графические изображения, звуковые эффекты, музыкальные произведения и задания как зарегистрированные, так и незарегистрированные, а также все приложения и дополнения и модификации к ним. Пользователю запрещено копировать, модифицировать, изменять, удалять, дополнять, публиковать, воспроизводить или распространять каким-либо образом на любых носителях, полностью или частично, создавать производные произведения, изготавливать или продавать продукты на их основе, или иным образом использовать содержащиеся в Сервисе (Сайте) объекты интеллектуальной собственности без прямого согласия Оператора. Все права, не предоставленные Пользователю в рамках настоящего Соглашения в явно выраженной форме, сохраняются за Оператором.</li>
                <li>При использовании Сервиса запрещена загрузка, передача между Пользователями, изменение или размещение информации, данных или изображений, которые нарушают исключительные права третьих лиц, в частности авторские и смежные с ними права, а также исключительные права на изобретение, полезную модель, промышленный образец или товарный знак.</li>
                <li>Пользователь несет ответственность в случае нарушения им интеллектуальных прав третьих лиц, в частности авторских и смежных с ними прав, а также исключительных прав на изобретение, полезную модель, промышленный образец или товарный знак.</li>
                <li>На страницах сайта Пользователь вправе публиковать только те комментарии (включая изображение профиля, текст комментария и прикладываемые фотографии), которые не нарушают действующее законодательство и/или права третьих лиц. В случае если такое произведение является объектом авторского права или включает его, Пользователь гарантирует, что имеет право на такое использование. Публикуя указанные объекты, Пользователь предоставляет Оператору право использовать их без ограничения по территории и сроку путем воспроизведения, распространения, перевода, публичного исполнения, публичного показа, сообщения в эфир и по кабелю, доведения до всеобщего сведения.</li>
                <li>Оператор оставляет за собой право блокировать любую информацию, размещенную Пользователем, нарушающую интеллектуальные, исключительные и/или личные неимущественные права третьих лиц, в том числе авторские и смежные с ними права, по требованию правообладателя либо без такового.</li>
            </ol>
        </li>

        <li>Персональные данные.
            <ol>
                <li>Оператор для исполнения положений настоящего Соглашения и предоставления Пользователям доступа к Сервису обрабатывает их персональные данные, полученные от Пользователей на законном основании. Принципы, цели, правовые основания, порядок, способы и иные условия обработки персональных данных определены Оператором в Политике конфиденциальности, которая является неотъемлемой частью настоящего Соглашения. </li>
                <li>Пользователь вправе в любой момент отозвать согласие на обработку своих персональных данных. </li>
            </ol>
        </li>

        <li>Запрещенное использование сервиса.
            <ol>
                <li>Пользователю запрещается:
                    <ol>
                        <li>Загружать, размещать, передавать с помощью программных средств сайта, и/или любого другого способа публикации текстов, программ, изображений или материалов пропагандирующих террористическую деятельность, или разжигающих межнациональную, расовую или религиозную рознь, а также отображающих или пропагандирующих насилие, или смерть, содержащих описание или изображение причинения вреда несовершеннолетним лицам в любой форме, включая любые формы порнографии.</li>
                        <li>Загружать, размещать, передавать с помощью программных средств Сервиса, или любого другого способа публикации текстов, программ, изображений или материалов, содержащих непристойные материалы и информацию, в любой форме, в том числе побуждающей к незаконным действиям, включая азартные игры, нелегальную продажу оружия или наркотиков.</li>
                        <li>Совершать или допускать совершение преступных или разрушительных деяний, преследуемых в соответствии с законодательством Российской Федерации.</li>
                        <li>Загружать, хранить, использовать или передавать любую рекламную информацию, описание мошеннических схем, систем заработка в сети Интернет и так далее.</li>
                        <li>Выдавать себя за другого человека или представителя организации и/или сообщества, а также вводить других Пользователей в заблуждение.</li>
                        <li>Собирать и хранить информацию о других Пользователях вне Сервиса в ручном или автоматизированном режиме.</li>
                        <li>Любым способом препятствовать работе Сервиса, в том числе создавать, распространять или использовать компьютерные программы либо иную компьютерную информацию, предназначенную для несанкционированного уничтожения, блокирования, модификации, копирования компьютерной информации или нейтрализации средств защиты компьютерной информации, а также предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ (компьютерные вирусы), для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к Сервису, а также размещения ссылок на вышеуказанную информацию.</li>
                    </ol>
                </li>
                <li>Используя Сервис, Пользователь обязуется не нарушать его информационную безопасность, а именно не совершать следующих действий:
            </ol>
        <li>не осуществлять попытки проверить уязвимость систем безопасности Сервиса, не нарушать процедуры регистрации в Сервисе;</li>
        <li>не осуществлять попытки создания помех в использовании Сервиса другими Пользователями, включая распространение компьютерных вирусов, порчу данных, постоянную рассылку повторяющейся информации, одновременную отправку большого количества электронной почты и/или запросов к Сервису с целью намеренно вывести сервер сайта из строя и иные действия, выходящие за рамки нормального целевого использования Сервиса, и способные умышленно или по неосторожности повлечь сбои в его работе;</li>
        <li>не рассылать пользователям Сервиса материалы, на которые они не давали своего согласия, «спам», любые письма и рекламу без разрешения Оператора;</li>
        <li>не осуществлять имитацию и/или подделку любого заголовка пакета TCP/IP или любой части заголовка в любом электронном письме или размещенном в Сервисе материале;</li>
        <li>не использовать или не пытаться использовать любое программное обеспечение, или процедуры для навигации или поиску в Сервисе, кроме встроенной в Систему поисковой машины и традиционных и общедоступных браузеров.</li>
    </ol>
    </li>

    <li>Ограничение ответственности.
        <ol>
            <li>Оператор не несет ответственности в случае прямых или косвенных финансовых, или иных потерь Пользователей, вызванных временными перебоями в работе Сервиса по следующим причинам: плановые или внеплановые технические и профилактические работы, технические сбои интернет — провайдеров, компьютерных сетей, серверов и средств, а также противоправные действия третьих лиц умышленные, неумышленные (в том числе неосторожные) действия самого Пользователя и/или форс-мажорные обстоятельства. При этом Оператор берет на себя обязательство приложить максимум усилий для восстановления работоспособности Сервиса в кратчайшие сроки.</li>
            <li>Оператор ни при каких обстоятельствах не несет ответственности за нарушение интеллектуальных прав третьих лиц, если такое нарушение было вызвано созданием, загрузкой, размещением, копированием или изменением информации, материалов или изображений в Сервисе, выполненных Пользователями Сервиса.</li>
            <li>Оператор ни при каких обстоятельствах не несет ответственности за нарушение требований законодательства, регламентирующего порядок обращения с персональными данными, если такое нарушение наступило вследствие нарушения Пользователями или Третьими лицами, которым с согласие Пользователя и/или его законного представителя были переданы персональные данные, требований законодательства и условий настоящего Соглашения.</li>
            <li>Данное ограничение ответственности должно применяться в максимальной мере, разрешенной законом. Данное ограничение ответственности не применяется исключительно в тех случаях, когда какое-либо конкретное положение ограничения ответственности прямо запрещено императивными нормами закона. При этом остальные положения настоящего Соглашения остаются действительными и Стороны обязуются реализовать их в максимально возможной степени, а также заменить положения, противоречащие императивным нормам действующего законодательства, на положения максимально близкие им по смыслу и допустимые в соответствии с правом, применимым к настоящему Соглашению.</li>
            <li>Ни при каких обстоятельствах Оператор не будет нести ответственность за все убытки (за исключением случаев, предусмотренных действующим законодательством), превосходящие фактическую цену, уплаченную Пользователем за использование Сервиса, или 1000 (одной тысяч) российских рублей — в зависимости от того, какая сумма является меньшей. Ни при каких обстоятельствах Оператор не будет нести ответственности за любые убытки Пользователей (за исключением случаев, предусмотренных действующим законодательством).</li>
        </ol>
    </li>

    <li>Гарантии.
        <ol>
            <li>Сервис, включая его дополнительные функции, предоставляется Пользователю «как есть», со всеми недостатками, без какой-либо гарантии, без обеспечения технических характеристик или каких-либо гарантий, при этом его использование Пользователем осуществляется исключительно на собственный риск. Весь риск, связанный с удовлетворительным качеством и рабочими характеристиками, лежит на Пользователе. Оператор не дает и настоящим отказывается от любых явных, подразумеваемых или предусмотренных законом гарантий, включая подразумеваемые гарантии состояния, бесперебойного использования, точности данных, достижения определенных результатов, пригодности для продажи, удовлетворительного качества, пригодности для конкретной цели, ненарушения прав третьих лиц, а также гарантий (если таковые имеются), вытекающих из обычной практики ведения деловых операций, использования или деловой практики. Оператор не гарантирует отсутствие сбоев при использовании Пользователем Сервиса; что Сервис будет отвечать требованиям, что работа Сервиса будет бесперебойной или безошибочной, или что Сервис будет взаимодействовать или будет совместим с любыми другими Сервисами Оператора, или что любые ошибки в Сервисе будут исправлены.</li>
        </ol>
    </li>

    <li>Заключительные положения.
        <ol>
            <li>Оператор оставляет за собой право незамедлительно без предварительного предупреждения Пользователя ограничить или блокировать доступ к Сервису или принимать иные меры в отношении Пользователя, нарушившего условия настоящего Соглашения.</li>
            <li>В зависимости от характера материалов или специфики отдельных материалов Сервиса, Оператор может вводить специальные условия для регистрации и доступа к таким материалам и Сервисам, в том числе ограничения по ролям.</li>
            <li>Регистрируясь в Сервисе, Пользователь подтверждает своё безоговорочное согласие со всеми положениями Соглашения, а также свое соответствие всем условиям, отраженным в формах регистрации и необходимым для успешной регистрации.</li>
            <li>Настоящее Соглашение может быть расторгнуто Оператором в одностороннем порядке, в случае нарушения Пользователем его условий и положений. В этом случае Пользователь обязан незамедлительно прекратить доступ к Сервису и использование Интеллектуальной собственности.</li>
            <li>Если какое-либо положение настоящего Соглашения будет признано судом недействительным, Стороны, несмотря на это, должны приложить усилия для приведения в действие намерений Сторон, изложенных в настоящем Соглашении, при этом другие положения сохранят юридическую силу в полной мере.</li>
            <li>Споры между Оператором и Пользователями Стороны будут стремиться разрешить путем переговоров. Сторона, у которой возникли претензии и (или) разногласия, направляет другой Стороне сообщение с указанием возникших претензий и (или) разногласий. В случае, если ответ на сообщение не будет получен направившей сообщение Стороной в течение 30 (тридцати) рабочих дней с даты направления соответствующего сообщения, либо если Стороны не придут к соглашению по возникшим претензиям и/или разногласиям, спор подлежит разрешению в судебном порядке по месту нахождения Оператора.</li>
            <li>Отношения сторон по настоящему Соглашению регулируются законодательством Российской Федерации.</li>
            <li>Стороны не имеют никаких сопутствующих устных и/или письменных договоренностей. Содержание текста настоящего Соглашения полностью соответствует действительному волеизъявлению Сторон.</li>
        </ol>
    </li>
    </ol>
</div>
